
body {
  background-color: #6c373f;
  margin: 0;
  padding: 0;
  /* container-type: inline-size; */      /* To enable container query width(cqw) */
}

#greeting-container {
  width: 768px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#greeting-container p {
  margin-top: 100px;
  margin-bottom: 25px;
  padding: 0px;
  /* font-size: 5cqw; */
  font-size: 40px;
  color: rgb(240, 150, 0);
}

#teddy-container {
  /* width: 80%; */
  width: 600px;
  display: grid;
  place-items: center;
  grid-template-areas:
    ". t2 ."
    "t1 . t3";
}

#teddy1 { grid-area: t1; }
#teddy2 { grid-area: t2; }
#teddy3 { grid-area: t3; }

#button-container {
  width: 100%;
  margin-top: 50px;
  text-align: center;
}

#greeting-container button {
  width: 20%;
  height: 1.8em;
  background-color: #0097b2;
  /* background-color: #30d5c8;   */
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 21px;
  transition: background-color 0.1s;
  margin: 0 20px;
}

#greeting-container button:hover {
  background-color: #aaaa00;
}

#greeting-container button:disabled {
  background-color: #777777;
  color: #aaaaaa;
}

canvas {
  width: 600px;
  height: 160px;
}

#reference-container, #link {
  font-size: 16px;
  color: #aaa;
}

audio {
  visibility: hidden;
}

#calculator-container {
  width: 768px;
  margin: 0 auto;
}

#form-container {
  width: 600px;
  margin: 50px auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #bbb;
  /* border: 2px solid #777; */
  border: none;
  border-radius: 5px;
}

#display-container {
  width: 80%;
  height: 30px;
  margin-top: 50px;
  margin-bottom: 20px;

}

#display-container input {
  box-sizing: border-box;
  width: 100%;
  font-size: 35px;
  padding: 2px 10px;
  border: none;
  border-radius: 5px;
  text-align: right;
}

#input-container {
  container-type: inline-size; 
  width: 80%;
  margin: 25px auto;

  display: grid;
  place-items: center;
  grid-template-areas:
  "n7 n8 n9 omu"
  "n4 n5 n6 odi"
  "n1 n2 n3 opl"
  "cl n0 p  omi"
  "gt gt .  en";
}

#seven-btn { grid-area: n7; }
#eight-btn { grid-area: n8; }
#nine-btn { grid-area: n9; }
#four-btn { grid-area: n4; }
#five-btn { grid-area: n5; }
#six-btn { grid-area: n6; }
#one-btn { grid-area: n1; }
#two-btn { grid-area: n2; }
#three-btn { grid-area: n3; }
#zero-btn { grid-area: n0; }
#point-btn { grid-area: p; }

#multiply-btn { grid-area: omu; }
#divide-btn { grid-area: odi; }
#plus-btn { grid-area: opl; }
#minus-btn { grid-area: omi; }

#clear-btn { grid-area: cl; }
#enter-btn { grid-area: en; }
#greeting-btn { grid-area: gt; }

#input-container button {
  width: 20cqw;
  height: 20cqw;
  background-color: #339933;
  color: #fff;
  border: none;
  /* border-radius: 5px; */
  border-radius: 50%;
  font-size: 25px;
  transition: background-color 0.1s;
  margin: 5px 5px;
}

#input-container button:hover {
  background-color: #cc66cc;
}

#input-container #greeting-btn {
  font-size: 20px;
  width: 45cqw;
  height: 15cqw;
  border-radius: 5px;
}

/*
@media (max-width: 1080px) {
  #greeting-container {
    width: 768px;
  }

}
*/
  